
/*HEADER*/
.head {
    background-image: url(../gallery/bgsims.jpg);
    background-size: cover;
}
.container-imagen  {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.navbar {
    box-shadow: 4px 4px 4px rgb(116, 115, 115);
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.nav-link {
    text-align: center;
    margin-left: 100px;
}
.simsLogo {
    height: 5%;
    width: 5%;
}
.btnBuySims {
    display: block;
    position: relative;
    left: 18px;
    top: 230px;
    height: 10%;
    width: 15%;
    font-size: 20px;
    border-radius: 10px;
    border: white;
    background: white;
    padding-top: 10px;
    transition: width 0.5s;
    box-shadow: 5px 5px 5px rgb(116, 115, 115);
    
}
.btnBuySims:hover{
    width: 16%;
}
/*SECTIONn inicio*/
.backgroundWhite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.tituloComunidad {
    margin-top: 30px;
}
.boton {
    background-color: skyblue;
    border: white;
    height: 30%;
    width: 10%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 4px rgb(116, 115, 115);
}
.textoBoton {
    font-size: 20px;
    text-decoration: none;
    color: rgb(17, 0, 255);
}
.tituloExpansiones {
    margin-top: 30px;
    margin-bottom: 30px;
}
/*EXPANSIONES*/
.expansiones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80%;
}
.expPueblo, .expNieve, .expEco {
    width: 27%;
    height: 100%;
    transition: width 0.5s;
}
.expPueblo:hover {
    width: 28%;
    box-shadow: 0px 4px 4px rgb(116, 115, 115);
}
.expNieve:hover {
    width: 28%;
    box-shadow: 0px 4px 4px rgb(116, 115, 115);
}
.expEco:hover {
    width: 28%;
    box-shadow: 0px 4px 4px rgb(116, 115, 115);
}
 /*PAGINA TIENDA */ 
.containerJuego {
    background-color: rgb(73, 36, 97);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 40px;
}
.tituloTienda {
    margin-top: 90px;
    margin-left: 30px;
    text-align: center;
    width: 40%;
    color: white;
    font-size: 50px;
}
.juegoBase {
    align-self: center;
    margin: 30px;
    box-shadow: 3px 4px 4px rgb(39, 38, 38);
}
/* BOTON */

.btnBuySimsBase {
    display: block;
    position: absolute;
    right: 300px;
    bottom: 250px;
    background-color: skyblue;
    border: white;
    height: 8%;
    width: 15%;
    padding: 10px;
    box-shadow: 0px 4px 4px rgb(116, 115, 115);
    font-size: 20px;
    font-weight: bold;
    color: purple;
}
.btnPrecio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btnBuySimsExp {
    background-color: skyblue;
    border: white;
    height: 30%;
    width: 10%;
    padding: 10px;
    box-shadow: 0px 4px 4px rgb(116, 115, 115);
}
/*EXPANSIONES */
.expansionesSims, .packAcc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80%;
}
.expPrecio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
.pkCine, .pkMasc, .pkMosc{
    width: 25%;
    height: 100%;
}