
/*HEADER INICIO*/
.head {
    background-image: url(../gallery/bgsims.jpg);
    background-size: cover;
}
.container-imagen  {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.navbar {
    box-shadow: 4px 4px 4px rgb(116, 115, 115);
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-link {
    text-align: center;
    margin-left: 100px;
}
.carrito {
    display: block;
    position: relative;
}
.buttonPay {
    transition-duration: 0.4s;
    padding: 7px 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid #818a82;
    position: absolute;
    right: 10px;
    bottom: 15px;
    margin-top: 5px;
}
.buttonPay:hover {
    background-color: #4CAF50; 
    color: white;
}
.simsLogo {
    height: 5%;
    width: 5%;
}
.btnBuySims {
    display: block;
    position: relative;
    left: 18px;
    top: 200px;
    height: 10%;
    width: 15%;
    font-size: 20px;
    border-radius: 10px;
    border: white;
    background: white;
    padding-top: 10px;
    transition: width 0.5s;
    box-shadow: 5px 5px 5px rgb(116, 115, 115);
    
}
.btnBuySims:hover{
    width: 16%;
}
/*SECTIONn inicio*/
.backgroundWhite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.tituloComunidad {
    margin-top: 30px;
}
.boton {
    background-color: skyblue;
    border: white;
    height: 30%;
    width: 10%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 4px rgb(116, 115, 115);
}
.textoBoton {
    font-size: 20px;
    text-decoration: none;
    color: rgb(17, 0, 255);
}
.tituloExpansiones {
    margin-top: 30px;
    margin-bottom: 30px;
}
#btnInfo {
    margin: 20px;
    background-color: #008CBA;
    color: white;
    padding: 5px 15px;
    border: 2px solid rgb(73, 70, 70);
    border-radius: 4px ;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* FORMULARIO INICIO*/
form {
    margin: 30px;
}
input {
    border: 2px solid rgb(53, 168, 153);
    border-radius: 4px;
}
.btnSubmit{
        transition-duration: 0.4s;
        border-radius: 4px;
        background-color: white;
        padding: 5px 8px;
        margin-left: 10px;
}
.btnSubmit:hover {
        background-color: #4c7faf; 
        color: white;
}
#result {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}
/*EXPANSIONES*/
h3 {
    display: block;
    padding-top:2px ;
    text-align: center;
}
.expansiones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80%;
}
.expPueblo, .expNieve, .expEco {
    width: 27%;
    height: 100%;
    transition: width 0.5s;
}
.expPueblo:hover {
    width: 28%;
    box-shadow: 0px 4px 4px rgb(116, 115, 115);
}
.expNieve:hover {
    width: 28%;
    box-shadow: 0px 4px 4px rgb(116, 115, 115);
}
.expEco:hover {
    width: 28%;
    box-shadow: 0px 4px 4px rgb(116, 115, 115);
}
/*INFO DE EXPANSIONES INICIO */
.contenedorTabla {
    display: flex;
flex-direction: row;
justify-content: space-between; 
}

.tablaInfo { 
    align-items: flex-start;
    background-color: aquamarine;
    border: 2px solid white;
    padding: 10px 10px;
    margin: 20px;
    float: left;
    width: 400px;
}
.tablaInfo:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
h6, p {
    text-align: center;
}
p {    padding: 5px;}


 /*---------PAGINA TIENDA------------------- */ 
 /* PRINCIPAL----------- */
.containerJuego {
    background-color: rgb(73, 36, 97);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 40px;
}
.tituloTienda {
    margin-top: 90px;
    margin-left: 30px;
    text-align: center;
    width: 40%;
    color: white;
    font-size: 50px;
}
.juegoBase {
    align-self: center;
    margin: 30px;
    box-shadow: 3px 4px 4px rgb(39, 38, 38);
    transition: width 0.5s;
}
.juegoBase:hover {
    width: 25%;
    box-shadow: 0px 4px 4px rgb(116, 115, 115);
}
/* BOTON */

.btnBuySimsBase {
    display: block;
    position: absolute;
    right: 300px;
    bottom: 230px;
    background-color: skyblue;
    border: white;
    height: 8%;
    width: 15%;
    padding: 10px;
    box-shadow: 0px 4px 4px rgb(116, 115, 115);
    font-size: 20px;
    font-weight: bold;
    color: purple;
}

/*----------------EXPANSIONES TIENDA---------------*/
/* Titulos Expansiones y packs */
.tituloExpansiones {
    text-align: center;
}
/* Productos */

/* Boton */
.buttonAdd {
    transition-duration: 0.4s;
    padding: 7px 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid #818a82;
    position: absolute;
    right: 10px;
    bottom: 1px;
    margin: 5px;
}

.buttonAdd:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}


#contenedorExp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}
.productContainer {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px;
    position: relative;
}
.productContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.productContainer, img {
    width: 300px;
}
img {
    width: 290px;
}
/*CARRITO */
.buttonLink {
    text-decoration: none;
    color: black;
}
.buttonLink:hover {
    color:white;
}
ul {
    list-style: none;
}

#listaCarrito, #carrito {
    display: none;
}
.submenu:hover #carrito{ 
    display: block;
    position: absolute;
    right: 0;
    top: 80%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 500px;
    transition-duration: 10s;
    }
.submenu:hover #listaCarrito{ 
    display: block;
    position: relative;
    right: 0;
    top: 4%;
    z-index: 1;
    background-color: white;
    padding: 17px;
    max-height: 1380px;
    max-width: 250px;
    transition-duration: 10s;
}   
#listaCarrito {
    text-align: center;
}
th {
    margin: 10px;
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid grey;;
}
#carrito {
    margin-top: 10px;
    text-align: center;
}
#vaciarCarrito {
    text-decoration: none;
    padding: 5px 15px;
    color: black;
    font-size: 15px;
    transition-duration: 0.4s;

}

#vaciarCarrito:hover {
    background-color: #3a423b; 
    color: white;
}
#finalizarCompra {
    text-decoration: none;
    padding: 5px 15px;
    color: black;
    font-size: 15px;
    transition-duration: 0.4s;
}
#finalizarCompra:hover {
    background-color: #409b4c; 
    color: white;
}
h4 {
    margin: 10px;
}
.expansionEnCarrito {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    
}
.imagenCarrito {
width: 8%;
height: 8%;
margin: 5px;
}
.tituloTable , tr {
    display: block;
    position: relative;
}
.botonEliminar{
    display: block;
    width: 8%;
    height: 8%;
}
tr {
    font-size: 16px;
    margin-top: 5px;
}